{% extends "base.html" %}
{% block content %}
    {% if invalid_token %}
    <div class="alert alert-danger" role="alert">
        <b>Could not create account</b> as the token supplied was invalid.
    </div>
    {% endif %}

    <form action="/create" method="post">
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" id="user" name="user" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
            <small class="form-text text-muted">Do not re-use any passwords used elsewhere and use only English letters and numbers.</small>
        </div>

        <div class="form-group">
            <label for="token">Token</label>
            <input type="password" id="token" name="token" class="form-control">
            <small class="form-text text-muted">You can request a token from <a href="https://meta.wikimedia.org/wiki/Wikimedia_Meet">a ticketmaster</a>.</small>
        </div>

        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
{% endblock %}
